.cv-card {
    /* border: 1px solid #eeeeee; */
    /* display: inline-block; */
    border-radius: 0.4rem;
    overflow: hidden;
}
.cv-card.shadow {
    box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
                0 1px 3px 1px rgba(60, 64, 67, 0.16);
}